<nav style='background-color:#9966ff;' class='navbar navbar-expand-lg'>
  <div class="container-fluid">
      <a class='navbar-brand' style='color:white' href="#">EveChat</a>
      <button data-target='#mylist' style='border:2px solid white' class='navbar-toggler' data-toggle='collapse'>
        <i style='color:white' class="fas fa-bars"></i>
      </button>
    <div class='collapse navbar-collapse' id='mylist'>
      <ul class='nav navbar-nav'>
        <li class='listNav'><a href='/main'>Main</a></li>
        <li class='listNav'><a href='/users'>Users</a></li>
        <li class='listNav'><a href='/message'>Message</a></li>
        <li class='listNav'><a href='/profile'>Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
