<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/style/App.css">
    <script src='/checkToken'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body style='background:#f2f2f2'>
    <div class='preloader'>
      <div class='loader'></div>
      </div>
    <% include header.ejs %>
    <div class='row' style='margin:0px'>
      <div style='background:#3A424B;height:650px;padding-top:10px' class='col-sm-4'>
        <ul id='messages' type='none'></ul>
        </div>
        <div id='prototype' class='col-sm-8'></div>
      </div>
      <% include footer.ejs %>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    document.body.onload=()=>{
          setTimeout(()=>{
            $('.preloader').hide()
          },3000)
        }
    var token=localStorage.getItem('token');
    var links;
    fetch('/allmes',{
      method:'POST',
      headers:{
        "Accept":"application/json",
        "Content-type":"application/json"
      },
      body:JSON.stringify({
        token:token
      })
    })
    .then((response)=>{
      console.log(response);
      return response.json()
    })
    .then((data)=>{
      console.log(data)
      if(data.message=='Not found'){
          $('#prototype').append(`Я ебаааал`)
          return false
      }
      else{
      data.forEach((item)=>{
        console.log(item)
        links=item[2].split('/');
        links.sort();
        var url='chat'+'/'+links[0]+'&'+links[1]
        $('#messages').append(`<li onClick="href('${links}')" id='obsh'><img src='${item[3]}' style='width:50px;height:50px;border-radius:30px;margin-right:5px'/>${item[1]}</li>`)
      })
    }
    })
    .catch((error)=>{
      $("<div style='background:#9966ff;position:absolute;width:100%;height:125%;z-index:5;color:white'><h1 class='text-center' style='position:relative;top:30%'>Not found <p style='font-size:25px;margin-top:5px'>You need to find a friend for comminicate<p></h1><p><center><button style='position:relative;top:255px' class='btn btn-outline-warning' onclick='back()'>Back home</button></center></div>").insertBefore(".preloader")
    })
    var back=()=>{
      window.location='/'
    }
    function href(url){
      var link = url.split(',')
      fetch('/getinfo',{
        method:'post',
        headers:{
          "Accept":"application/json",
          "Content-type":"application/json"
        },
        body:JSON.stringify({
          url:link
        })
      })
      .then((response)=>{
        console.log(response)
        return response.json()
      })
      .then((data)=>{
        //window.location=`/message/${data.url}`
        if(!localStorage.getItem('urlOfChat')){
          console.log('No')
          localStorage.setItem('urlOfChat',data.url);
            $('#prototype').append(`<div id='chat'>${data.str}</div>`)
        }
        else{
          console.log('Yes')
          localStorage.removeItem('urlOfChat');
          $("#chat").remove();
          localStorage.setItem('urlOfChat',data.url);
          $('#prototype').append(`<div id='chat'>${data.str}</div>`)
        }
      })
    }
    </script>
</html>
